<h1> <%= t('others.editing') + ' ' + translate_model(AccessLevel) %> </h1>

<%= render 'form', access_level: @access_level %>

<div>
  <%= link_to t('buttons.show') , @access_level %> |
  <%= link_to t('buttons.back') , access_levels_path %>
</div>

<br/>

