<h1> <%=t('others.creating') + ' ' + t('reproducibilities.model_name') %> </h1>

<%= render 'form', reproducibility: @reproducibility %>

<div>
  <%= link_to t('buttons.back') , reproducibilities_path %>
</div>