<h1> <%= t('others.editing') + ' ' + translate_model(Status)%> </h1>

<%= render 'form', status: @status %>

<div>
  <%= link_to t('buttons.show') , @status %> |
  <%= link_to t('buttons.back') , statuses_path %>
</div>

<br/>

