<h1> <%= t('others.editing') + ' ' + t('issues.model_name') %> </h1>

<%= render 'form', issue: @issue %>

<div>
  <%= link_to t('buttons.show') , @issue %> |
  <%= link_to t('buttons.back') , issues_path %>
</div>

<br/>

