<h1> <%= t('others.editing') + ' ' + translate_model(Project) %> </h1>

<%= render 'form', project: @project %>

<div>
  <%= link_to t('buttons.show') , @project %> |
  <%= link_to t('buttons.back') , projects_path %>
</div>

<br/>

