<h1> <%= t('others.editing') + ' ' + t('categories.model_name') %> </h1>

<%= render 'form', category: @category %>

<div>
  <%= link_to t('buttons.show') , @category %> |
  <%= link_to t('buttons.back') , categories_path %>
</div>

<br/>

